.table-styled {
  background: hsla(303, 79%, 76%, 1);
  background-image: linear-gradient(
    90deg,
    hsla(303, 79%, 76%, 1) 0%,
    hsla(360, 86%, 67%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(303, 79%, 76%, 1) 0%,
    hsla(360, 86%, 67%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(303, 79%, 76%, 1) 0%,
    hsla(360, 86%, 67%, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F292ED",endColorstr="#F36364",GradientType=1);
}
